*, *::before, *::after {box-sizing: border-box;}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(79, 79, 167);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    gap: 2rem; 
}

h1{
    width: 275px;
    height: 50px;
    margin: 0;
    color: aliceblue;
    font-weight: bold;
}

.game-tiles{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: center;
    justify-items: center;
} 

button, input{
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    font-size: 7rem;
    font-weight: bold;
    color: darkred;
    transition: ease 0.1s;
}

.tile:hover{
    transform: scale(1.03);
}

.game-controls{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 635px;
}


.name{
    width: 100%;
}

.btn{
    transition: ease 0.2s;
    width: 39%;
}

.btn:hover{
    transform: scale(1.1);
}
