body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: inline;
}

.size-select{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}

.canvas{
    display: grid; 
    background-color: aliceblue;
    width: 600px;
    height: 600px;
    margin: 25px 0px;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 600px
}