body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size-select{
    display: flex;
    flex-direction: row;
}

.canvas{
    display: grid; 
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 2px;
    width: 500px;
    height: 500px;
    margin: 25px 0px;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 500px
}
